
/**
 * Vimeo video upload widget.
 */
div.vimeo-video-preview {
  float: left; /* LTR */
  padding: 0 10px 10px 0; /* LTR */
}
div.vimeo-video-widget-data {
  float: left; /* LTR */
}
div.vimeo-video-widget-data input.text-field {
  width: auto;
}

div.vimeo-video-no-file span.file {
  display: none;
}